---
layout: default
---

{{ content }}

<section class="community-cards">
  <div class="community-grid">
    <a href="https://www.simplycyber.io/" class="community-card" target="_blank">
      <img src="/assets/Images/Media/Simplycyber.jpg" alt="Simply Cyber" class="community-logo">
    </a>
    <a href="https://www.hacksmarter.org/" class="community-card" target="_blank">
      <img src="/assets/Images/Media/Hacksmarter.jpg" alt="Hack Smarter" class="community-logo">
    </div>
    </a>
  </div>
  <p class="community-text">Two of the best cybersecurity communities out there.</p>
</section>
